@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Rubik", sans-serif;
}
* {
  font-family: "Rubik", sans-serif;
}

.home-image {
  width: 370px;
}

.navbar {
  background-color: white;
  padding: 0 !important;
}

.nav-img {
  width: 160px !important;
}

.nav-link {
  font-weight: 500;
}

a {
  text-decoration: none !important;
  color: black !important;
}
.active {
  color: blueviolet !important;
}

.navbar-toggler-icon {
  color: black !important;
}
.footer-img {
  width: 200px !important;
}
.home-hr {
  width: 35%;
  margin: auto;
}
.home-links {
  text-decoration: none;
  display: inline-block;
}

.contactLink:hover {
  color: blueviolet !important;
}

.form-signup,
.form-signin {
  width: 300px;
}

.form-card {
  width: 500px;
}

.navbar-avatar {
  width: 40px;
  margin-right: 10px;
}

.recipe-image {
  width: 100%;
}
ol {
  list-style: none;
  counter-reset: item;
}
.ingredient-item {
  counter-increment: item;
  margin-bottom: 5px;
}
.ingredient-item:before {
  margin-right: 10px;
  margin-bottom: 5px;
  content: counter(item);
  background: lightblue;
  border-radius: 100%;
  color: white;
  width: 1.4em;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
}

.ingredientsArr,
.ingredients-ul {
  list-style: none;
  padding: 0;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 800px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
